<section>
    <div class="row">
        <div class="contenedor" [@growShrink]>
                            <div class="logo"></div>
            <article class="col s12 m6 offset-m3 l4 offset-l4" >

                <h5 class="center-align">Iniciar sesión</h5>
                <br>
                <form  (ngSubmit)="login()"  #form="ngForm" >
                    <div class="input-field">
                        <i class="material-icons prefix">perm_identity</i>
                        <label for="correo">Correo</label>
                        <input id="correo" type="email" name="correo" [(ngModel)]="correo" required >
                    </div>  
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <label for="contrasena">Contraseña</label>
                        <input id="contrasena" type="password" name="contrasena" [(ngModel)]="contrasena" required  >
                    </div>
                    <br>
                    <p class="center-align">
                        <button class="waves-effect waves-light btn" type="submit">Ingresar</button>
                    </p>
                </form>
            </article>
        </div>
    </div>
</section>
  
<footer class="page-footer center-align" style="position: fixed; bottom: 0; background-color: black ;z-index: 1000; padding: 10px 0; box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);">
    <div class="footer-content">
        © 2025 Desarrollado por Brynware | Todos los derechos reservados
    </div>
</footer>




